<!DOCTYPE html>
<html>
<head>
    <title>WebRTC Camera Streaming</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <canvas id="canvas"></canvas>
    <button id="start-button">Start Streaming</button>
    <button id="restart-button">restart Streaming</button>
    <br>
    <img id="imagen0" width="600" height="500" src="https://phantom-marca-mx.unidadeditorial.es/a61062efccab90870213277cf3d4deac/resize/1320/f/jpg/mx/assets/multimedia/imagenes/2023/05/08/16835031626657.jpg">
    <img id="imagen1" width="600" height="500" src="https://phantom-marca-mx.unidadeditorial.es/a61062efccab90870213277cf3d4deac/resize/1320/f/jpg/mx/assets/multimedia/imagenes/2023/05/08/16835031626657.jpg">
    <br>
    <img id="imagen2" width="600" height="500" src="https://phantom-marca-mx.unidadeditorial.es/a61062efccab90870213277cf3d4deac/resize/1320/f/jpg/mx/assets/multimedia/imagenes/2023/05/08/16835031626657.jpg">
    <img id="imagen3" width="600" height="500" src="https://phantom-marca-mx.unidadeditorial.es/a61062efccab90870213277cf3d4deac/resize/1320/f/jpg/mx/assets/multimedia/imagenes/2023/05/08/16835031626657.jpg">
    

    <hr>
    <br>
    <div>
        <video id="video" autoplay></video>
    </div>
    
    <script 
    src="{{url_for('static', filename='js/webrtc.js')}}"
    >
    </script>
</body>
</html>
